In [1]:
import pandas as pd

In [3]:
%timeit daily_engagement = pd.read_csv("lesson_2/daily_engagement.csv")

10 loops, best of 3: 107 ms per loop

In [6]:
daily_engagement = pd.read_csv("lesson_2/daily_engagement.csv")

In [7]:
%timeit daily_engagement["acct"].unique()

The slowest run took 7.70 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 978 Âµs per loop

In [8]:
unique_engagement_students = daily_engagement["acct"].unique()
len(unique_engagement_students)

1237

In [9]:

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [10]:
life_expectancy = pd.Series(life_expectancy_values, index=countries)
gdp = pd.Series(gdp_values)

In [11]:
life_expectancy

Albania                74.7
Algeria                75.0
Andorra                83.4
Angola                 57.6
Antigua and Barbuda    74.6
Argentina              75.4
Armenia                72.3
Australia              81.5
Austria                80.2
Azerbaijan             70.3
Bahamas                72.1
Bahrain                76.4
Bangladesh             68.1
Barbados               75.2
Belarus                69.8
Belgium                79.4
Belize                 70.8
Benin                  62.7
Bhutan                 67.3
Bolivia                70.6
dtype: float64

In [13]:
gdp

0      1681.613910
1      2155.485231
2     21495.805083
3       562.987685
4     13495.127466
5      9388.688523
6      1424.190562
7     24765.548902
8     27036.487332
9      1945.637549
10    21721.618410
11    13373.219940
12      483.970868
13     9783.984173
14     2253.464111
15    25034.666923
16     3680.916429
17      366.044967
18     1175.926387
19     1132.213880
dtype: float64

In [14]:
life_expectancy[0]

74.700000000000003

gdp[3:6]

In [16]:
life_expectancy.mean()

72.86999999999999

In [17]:
life_expectancy.std()

6.213999474869968

In [18]:
gdp.max()

27036.487331920001

In [19]:
gdp.sum()

182957.59832967003

In [20]:
a = pd.Series([1, 2, 3, 4])
b = pd.Series([1, 2, 1, 2])
a + b

0    2
1    4
2    4
3    6
dtype: int64

In [21]:
a * b

0    1
1    4
2    3
3    8
dtype: int64

In [22]:
a >= 3

0    False
1    False
2     True
3     True
dtype: bool

In [23]:
a[a >= 3]

2    3
3    4
dtype: int64

In [25]:
life_expectancy.loc["Albania"]

74.700000000000003

In [26]:
life_expectancy.iloc[0]

74.700000000000003

In [27]:
s1 = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
s2 = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
s1 + s2

a    11
b    22
c    33
d    44
dtype: int64

In [29]:
s1 = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
s2 = pd.Series([10, 20, 30, 40], index=["b", "d", "a", "c"])
s1 + s2

a    31
b    12
c    43
d    24
dtype: int64

In [30]:
s1 = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
s2 = pd.Series([10, 20, 30, 40])
s1 + s2

a   NaN
b   NaN
c   NaN
d   NaN
0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [32]:
s1 = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
s2 = pd.Series([10, 20, 30, 40], index=["c", "d", "e", "f"])
res = s1 + s2
res

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [33]:
res.dropna()

c    13.0
d    24.0
dtype: float64

In [35]:
res.fillna("s")

a     s
b     s
c    13
d    24
e     s
f     s
dtype: object

In [36]:
s = pd.Series([1, 2, 3, 4, 5])
s.apply(lambda x: x + 1)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [1]:
import unicodecsv

In [3]:
def read_csv(path):
    with open(path, "rb") as f:
        reader = unicodecsv.DictReader(f)
        data = list(reader)
    return data
daily_engagement = read_csv("lesson_2/daily_engagement.csv")

In [4]:
import numpy as np

In [5]:
daily_engagement = np.loadtxt("lesson_2/daily_engagement.csv", dtype=str, delimiter=",", skiprows=1)

In [6]:
import pandas as pd

In [7]:
daily_engagement = pd.read_csv("lesson_2/daily_engagement.csv")

In [8]:
daily_engagement["acct"].unique()

array([   0,    1,    2, ..., 1302, 1303, 1305])

In [12]:
countries = np.array([
    "Afganistan", "Maroko", 1
])

countries

array(['Afganistan', 'Maroko', '1'],
      dtype='<U10')

In [18]:
# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    ## nice formatting!
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [15]:
countries[0]

'Afganistan'

In [17]:
countries[2]

'1'

In [19]:
countries[0:3]

array(['Afghanistan', 'Albania', 'Algeria'],
      dtype='<U22')

In [20]:
countries[:3]

array(['Afghanistan', 'Albania', 'Algeria'],
      dtype='<U22')

In [21]:
countries[17:]

array(['Bhutan', 'Bolivia', 'Bosnia and Herzegovina'],
      dtype='<U22')

In [22]:
countries[:]

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina'],
      dtype='<U22')

In [27]:
print(np.array(["poland", "zimbabwe"]).dtype)
print(np.array([0, 1, 2, 3]).dtype)
print(np.array([1.1, 2.2, 3]).dtype)
print(np.array(["al", "ak", "az", "ar", "ca"]).dtype)

<U8
int64
float64
<U2

In [29]:
np.array([1.1, 2.2, 3]).mean()
np.array([1.1, 2.2, 3]).std()
np.array([1.1, 2.2, 3]).max()
np.array([1.1, 2.2, 3]).sum()

6.3000000000000007

In [30]:
np.array([1.1, 2.2, 3]).argmax()

2