In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(5, 4), index=["A", "B", "C", "D", "E"], columns=["W", "X", "Y", "Z"])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df[df["W"] > 1]

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [10]:
np.random.seed(101)
df2 = pd.DataFrame(np.random.randn(5, 4), index=["A", "B", "C", "D", "E"], columns=["W", "X", "Y", "Z"])
df2

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df2.iloc[1]

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [14]:
df.drop("W", axis=1)

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E  1.978757  2.605967  0.683509

In [16]:
df.loc["A", "X"]

0.62813270878445959

In [17]:
pd.Series(data={1: "a", 2: "b"})

1    a
2    b
dtype: object

In [18]:
df4 = pd.DataFrame({"A": [1, 2, np.nan],
                   "B": [5, np.nan, np.nan],
                   "C": [1, 2, 3]})
df4

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [22]:
df4.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [23]:
data = {"Company": ["GOOG", "GOOG", "MSFT", "MSFT", "FB", "FB"],
        "Person": ["Sam", "Charlie", "Amy", "Vanessa", "Carl", "Sarah"],
        "Sales": [200, 120, 340, 124, 243, 350]}
df5 = pd.DataFrame(data)
df5

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [25]:
df5.groupby("Company").mean().loc["FB"]

Sales    296.5
Name: FB, dtype: float64

In [26]:
pd.DataFrame(data=[[0, 1, 2], [3, 4, 5]], index=["a", "b"], columns=["x", "y", "z"])

   x  y  z
a  0  1  2
b  3  4  5

In [ ]:
pd.read

In [28]:
df.apply(lambda x: x**2)

          W         X         Y         Z
A  7.327036  0.394551  0.824409  0.253840
B  0.423955  0.101964  0.719235  0.367194
C  4.073003  0.547781  0.279644  0.346922
D  0.035606  0.575887  0.870932  0.912133
E  0.036402  3.915481  6.791065  0.467184

In [29]:
df10 = pd.DataFrame({"A": ["A0", "A1", "A2", "A3"],
                    "B": ["B0", "B1", "B2", "B3"],
                    "C": ["C0", "C1", "C2", "C3"],
                    "D": ["D0", "D1", "D2", "D3"]},
                  index=[0, 1, 2, 3])

In [30]:
df11 = pd.DataFrame({"A": ["A4", "A5", "A6", "A7"],
                    "B": ["B4", "B5", "B6", "B7"],
                    "C": ["C4", "C5", "C6", "C7"],
                    "D": ["D4", "D5", "D6", "D7"]},
                  index=[4, 5, 6, 7])

In [31]:
df10

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [32]:
df11

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [34]:
pd.concat([df10, df11], axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [39]:
df4.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [40]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df.drop("A", axis=0)

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
df[["W", "X", "X"]]

          W         X         X
A  2.706850  0.628133  0.628133
B  0.651118 -0.319318 -0.319318
C -2.018168  0.740122  0.740122
D  0.188695 -0.758872 -0.758872
E  0.190794  1.978757  1.978757

In [46]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [48]:
pd.concat([df10, df11], axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [51]:
df4.dropna(axis=1)

   C
0  1
1  2
2  3

In [53]:
df4.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

In [54]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [55]:
pd.DataFrame(data={"A": [0, 1, 2], "B": [3, 4, 5], "C": [6, 7, 8]})

   A  B  C
0  0  3  6
1  1  4  7
2  2  5  8

In [57]:
df["W"].unique()

array([ 2.70684984,  0.65111795, -2.01816824,  0.18869531,  0.19079432])

In [58]:
df["W"].nunique()

5

In [59]:
df["W"].value_counts()

 0.651118    1
 0.190794    1
 2.706850    1
 0.188695    1
-2.018168    1
Name: W, dtype: int64

In [60]:
pd.concat([df10, df11], axis=0)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [63]:
df4.dropna(axis=1)

   C
0  1
1  2
2  3

In [67]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [68]:
df["D"] = [1, 2, 3, 4, 5]

In [69]:
df

          W         X         Y         Z  D
A  2.706850  0.628133  0.907969  0.503826  1
B  0.651118 -0.319318 -0.848077  0.605965  2
C -2.018168  0.740122  0.528813 -0.589001  3
D  0.188695 -0.758872 -0.933237  0.955057  4
E  0.190794  1.978757  2.605967  0.683509  5

In [70]:
df4.dropna(axis=1)

   C
0  1
1  2
2  3

In [72]:
df4.fillna("s")

   A  B  C
0  1  5  1
1  2  s  2
2  s  s  3

In [76]:
df["W"].nunique()

5

In [80]:
df5.groupby("Company").describe()

                    Sales
Company
FB      count    2.000000
        mean   296.500000
        std     75.660426
        min    243.000000
        25%    269.750000
        50%    296.500000
        75%    323.250000
        max    350.000000
GOOG    count    2.000000
        mean   160.000000
        std     56.568542
        min    120.000000
        25%    140.000000
        50%    160.000000
        75%    180.000000
        max    200.000000
MSFT    count    2.000000
        mean   232.000000
        std    152.735065
        min    124.000000
        25%    178.000000
        50%    232.000000
        75%    286.000000
        max    340.000000

In [84]:
df5.groupby("Company").sum().loc["FB"]

Sales    593
Name: FB, dtype: int64

In [85]:
pd.DataFrame(data=np.random.rand(2, 3), index=["A", "B"], columns=["x", "y", "z"])

          x         y         z
A  0.734819  0.541962  0.913154
B  0.807920  0.402998  0.357224

In [86]:
df[df["W"] > 1]["W"]

A    2.70685
Name: W, dtype: float64

In [87]:
df["W"].sum()

1.7192891751267547

In [89]:
df.drop("W", axis=1)

          X         Y         Z  D
A  0.628133  0.907969  0.503826  1
B -0.319318 -0.848077  0.605965  2
C  0.740122  0.528813 -0.589001  3
D -0.758872 -0.933237  0.955057  4
E  1.978757  2.605967  0.683509  5

In [90]:
df

          W         X         Y         Z  D
A  2.706850  0.628133  0.907969  0.503826  1
B  0.651118 -0.319318 -0.848077  0.605965  2
C -2.018168  0.740122  0.528813 -0.589001  3
D  0.188695 -0.758872 -0.933237  0.955057  4
E  0.190794  1.978757  2.605967  0.683509  5

In [94]:
df.sort_values(by="C", axis=1)

          W         Z         Y         X  D
A  2.706850  0.503826  0.907969  0.628133  1
B  0.651118  0.605965 -0.848077 -0.319318  2
C -2.018168 -0.589001  0.528813  0.740122  3
D  0.188695  0.955057 -0.933237 -0.758872  4
E  0.190794  0.683509  2.605967  1.978757  5

In [96]:
df4["A"].fillna(df4["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [2]:
import pandas as pd

In [4]:
s = pd.Series(data=[1, 2, 3, 4], index=["a", "b", "c", "d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
for x in s:
    print(x)

1
2
3
4

In [14]:
s.mean()

2.5